---
import PreviewLayout from '../../layouts/preview-layout.astro'
import { Card, CardContent } from '@e412/rnui-react'
---
<PreviewLayout>
  <Card client:load className="w-[350px]">
    <CardContent className="pt-6">
      <p>A simple card with just content.</p>
    </CardContent>
  </Card>
</PreviewLayout>
