---
import PreviewLayout from '../../layouts/preview-layout.astro'
---
<PreviewLayout>
  <div id="dialog-root"></div>
  <script>
    import { createRoot } from 'react-dom/client'
    import { createElement } from 'react'
    import { Dialog, DialogTrigger, DialogContent, DialogHeader, DialogTitle, DialogDescription, DialogFooter, Button } from '@e412/rnui-react'

    const root = createRoot(document.getElementById('dialog-root')!)
    root.render(
      createElement(Dialog, null,
        createElement(DialogTrigger, { asChild: true },
          createElement(Button, { variant: 'outline' }, 'Open Dialog')
        ),
        createElement(DialogContent, null,
          createElement(DialogHeader, null,
            createElement(DialogTitle, null, 'Dialog Title'),
            createElement(DialogDescription, null, 'This is a description of the dialog content.')
          ),
          createElement('div', { className: 'py-4' },
            createElement('p', null, 'Dialog body content goes here.')
          ),
          createElement(DialogFooter, null,
            createElement(Button, { variant: 'outline' }, 'Cancel'),
            createElement(Button, null, 'Confirm')
          )
        )
      )
    )
  </script>
</PreviewLayout>
